@import './reset.css';

@import '../assets/fonts/fonts.css';

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(
    90deg,
    rgb(228, 187, 26) 0%,
    rgba(213, 173, 28, 1) 29%,
    rgba(222, 144, 0, 1) 100%
  );
}

header {
  padding: 2em;
  display: flex;
  align-items: center;
}

main {
  padding: 1em 0;
  padding-bottom: 100px;
}

.main-title {
  flex: 2;
  font-weight: 300;
  font-size: 6em;
  color: white;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.main-title b {
  font-weight: 800;
}

.header-text {
  margin-top: 1em;
  padding-left: 1em;
  flex: 1;
  font-weight: 300;
  font-size: 1.7em;
  color: rgba(255, 255, 255, 1);
  line-height: 1.5;
  letter-spacing: 1px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.navbar-section-container {
  display: flex;
  flex-direction: column;
}

.bar-title {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 3px;
  color: white;
  margin-right: auto;
  margin-left: 2em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.get-code-btn {
  font-size: 1em;
  background-color: rgb(78, 78, 194);
  color: white;
  border: none;
  margin-left: auto;
  margin-right: 2em;
  padding: 0.8em 1.5em;
  cursor: pointer;
}

.get-code-btn:hover {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.get-code-btn:active {
  transform: scale(0.95);
}

.get-code-btn:focus {
  border: none;
  outline: none;
}

.modal {
  display: none;
  z-index: -1;
}

.modal.open {
  display: initial;
  z-index: 1;
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  animation: fade-in 300ms ease-in;
}
.modal-window {
  display: flex;
  height: 400px;
  max-height: 80%;
  padding: 1em;
  background: #fff;
  box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.2);
  z-index: 2;
  animation: slide-down 300ms ease-in;
}
.modal-col {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  margin: 0.5rem;
  padding: 1rem;
  max-width: max-content;
  border: 1px solid rgb(78, 78, 194);
  background-color: #eee;
}
.modal-col span {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 45px;
  width: max-content;
  margin-left: auto;
  cursor: pointer;
}
/* .modal-col span::before {
  content: 'Click to Copy';
  width: max-content;
  position: absolute;
  top: -15px;
  right: 0;
  font-size: 10px;
  display: none;
  color: #000;
}
.modal-col span:hover:before {
  display: block;
} */
.modal-col span:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-col span:active {
  transform: scale(0.9);
}
@media only screen and (max-width: 1024px) {
  body {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
  header {
    flex-direction: column;
    justify-content: center;
  }
  .header-text {
    text-align: center;
  }
}

@media only screen and (max-width: 576px) {
  body {
    font-size: 8px;
  }
  header {
    flex-direction: column;
    justify-content: center;
  }
  .header-text {
    text-align: center;
  }
}

@media only screen and (max-width: 340px) {
  body {
    font-size: 6px;
  }
  header {
    justify-content: center;
  }
  .header-text {
    text-align: center;
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
